/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v25-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

  /* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-v27-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-700 - latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-sans-v27-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-v27-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-v27-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-v27-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-v27-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-v27-latin-700.svg#NotoSans') format('svg'); /* Legacy iOS */
  }

  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }

.wrapper {
    position: relative;
    max-width: 1440px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding-left: 100px;
}

body {
    background-color: #000;
}
a {
    text-decoration: none;
}

/* header styles start*/
.header {
    /* padding: 0 85px; */
    position: absolute;
}
.user-icon {
    max-width: 25px;
    margin: 0 12px 0 108px;
}
.login {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none;
}
/* header styles end*/


/* main styles start*/

/* first content */

.hero-content {
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    justify-items: center;
}
.txt-content {
    width: 30%;
    padding-top: 165px;
    padding-right: 150px;
}
.text-content_title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
    margin-bottom: 88px;
}
.content-block {
    display: flex;
}
.intro-line {
    /* position: absolute; */
    /* display: block; */
    width: 139px;
    height: 4px;
    background-color: #fff;
    /* border: 1px solid #FFFFFF; */
    transform: rotate(120deg);
}
.content-block_blur {
    background: rgba(96, 92, 234, 0.5);
    filter: blur(100px);
    position: absolute;
    position: absolute;
    width: 125px;
    height: 125px;
}
.text-content_subtitle {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    max-width: 380px;
    margin-left: 31px;
}
.img-content {
    position: relative;
}
.img-content img {
    width: 100%;
}
.img-content_blur {
    background: url(../img/pic/phone.png) no-repeat;
    position: absolute;
    width: 100%;
}
.first-content-footer {
    display: flex;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
    margin-bottom: 150px;
}
.first-content-footer_title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 70px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.first-content_link {
    margin-right: 30px;
}
.first-content_link:last-child {
    margin: 0;
}
.first-content-coockie {
    position: fixed;
    /* display: flex; */
    display: none;
    flex-wrap: nowrap;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding: 30px 0 30px 0;
    background: #212834;
    align-items: center;
}
.first-content-coockie_desc {
    font-family: 'Noto Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.first-content-coockie_btn {
    display: inline-block;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 15px 40px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
} 
.close-coockie-block {
    display: block;
}
.first-content-coockie.active {
    display: none;
}

/* second ccontent */
.second-content {
    /* padding: 0 180px; */
}
.second-content-table {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 60px;

    padding: 0 180px;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 65px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 21px;
}
.item-title {
    margin-bottom: 30px;
}
.title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}
.btn {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.content {
    display: flex;
}
.second-content_title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 62px;
    color: #FFFFFF;
    margin-bottom: 25px;

}
.second-content_subtitle {
    font-family: 'Noto Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    max-width: 315px;
}
.content_blur {
    position: absolute;
    width: 85px;
    height: 85px;
    background: #F101BF;
    opacity: 0.7;
    filter: blur(100px);
}

/*third content styles*/
.third-content {
    background: url(../img/pic/third-content_bg-with-gradient.png) no-repeat center, linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);;
    position: relative;

    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);;
    margin-bottom: 30%;
}
.third-content_bg  {
    width: 100%;
    background-size: cover;
}
.id-content-block {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    position: absolute;
    /* transform: translateY(40%); */
    top: 40%;
}
.third-content-id {
    margin-bottom: 70px;
}
.third-content_pic {
    padding-left: 100px;
}
.third-content_phone-2 {
    margin: 0 130px 0 50px;
}

/* tool styles */
.tool {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15%;
}
.tool-text {
    margin-right: 30px;
}

/* main styles end*/

/* order styles */
.link {
    margin-top: 60px;
}
.order {
    position: relative;
    display: flex;
}
.order-text {
    position: absolute;
    transform: translateY(-35%);
    padding-left: 100px;
}
.order-phone {
    display: flex;
    transform: translateX(-35%);
}
.order-phone-1 {
    margin: 0 80px;
    transform: translateY(-60%);
}
.order-phone-2 {
    transform: translateY(-15%);
}


/*scan code style*/

.scan-code {
    position: relative;
    background: url(../img/pic/notab_bg.png);
}
/* .scan-code_bg {
    position: relative;
} */
.scan-code_img {
    position: absolute;
}


/* header styles start*/

/* header styles end*/